@page "/AddQuantity"
@using Blazor.Client.Services.Interfaces
@using Blazor.Client.BlazorDTOs
@inject HttpClient Http
@inject IBlazorServiceMenService BlazorServiceMenService
@inject NavigationManager NavigationManager

<h3>EditProduct</h3>



<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="productName" Label="Name" Variant="Variant.Outlined"></MudTextField>
    </MudItem>

    <MudItem xs="12" sm="6" md="4">
        <MudTextField @bind-Value="Id" Label="Quantity" Variant="Variant.Outlined"></MudTextField>
    </MudItem>

    <MudItem xs="12" sm="1"  md="4">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@HandleValidSubmit">Add</MudButton>
    </MudItem>
</MudGrid>






@code { 

    public int Id;
    public string productName;
    BlazorServiceManDTO serviceman = new BlazorServiceManDTO();

    async Task HandleValidSubmit()
    {
        var result = await BlazorServiceMenService.Add_quantity(productName, Id, serviceman);
        if (result) NavigationManager.NavigateTo($"/Products");
    }

    }
